* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  color: #313335;
  }
body{
  padding: 2rem 2rem 2rem 2rem;
}
header {
  background-image: url("images/header-image.jpg");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 8rem;
  padding-top: 1rem;
  color: #000;
  font-size: larger;
  font-weight: 400;
}
input{
  width: 4rem;
  border: 2px solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #0072b1;
  color: #FFFFFF;
  font-weight: 100;
  min-width: 13%;
  max-width: 15%;
  text-align: center;
  display:initial;

}
button:hover {
  cursor: pointer;
}
h5 {
  color: #dd5143;
}
table {
  margin-bottom: 3rem;
}
td {
  border: 1px solid #333;
  padding-left: 1rem;
  padding-right: 1rem;
}
thead {
  background-color: #86888A;
  color: #ffffff;
}
tfoot {
  background-color: #86888A;
  color: #ffffff;
}
footer {
  font-size: .8rem;
  margin-top: 2rem;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
#userLog {
  display: none;
}
#rules{
  display:none;
}
#restart {
  background-color: #313335;
}
.fa-facebook {
  font-size: 28px; 
  color: #252E30;
}
.fa-twitter {
  font-size: 28px; 
  color: #252E30;  
}